.detailedservice {
  font-family: "Inter", sans-serif;
}
.detailedservice * {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.detailedservice .row-body-title {
  padding: 10px;
  display: block;
  background-color: white;
}
.detailedservice .row-body-title h3 {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.detailedservice .row-body-title span {
  font-weight: bold;
  color: #007bd9;
}

@media only screen and (max-width: 769px) {
  .detailedservice .row-body .button-service_s .link {
    margin-left: 5rem;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .detailedservice .hr-body-service {
    margin-left: 9rem;
  }
}
