.product_s * {
  text-decoration: none;
}

.product_s {
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
}
.product_s .row-top-title h3 {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.product_s .card-product_s {
  color: black;
  box-shadow: 2px 1px 6px 0px #888888;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.5s;
}
.product_s .card-product_s:hover {
  transition: all 0.5s;
  transform: translateY(-2%);
  box-shadow: 2px 1px 4px 2px #888888;
  top: 10px;
}

.product_s .card-body-product_s {
  padding: 0rem 0rem 1rem 0rem;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.product_s .card-body-product_s h6 {
  color: black;
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: 1px solid #e5e5e5;
}
.product_s .card-body-product_s p {
  color: white;
}
.product_s .card-body-product_s .btn-chitiet {
  background-color: #e5e5e5;
  display: inline-flex;
  width: 5rem;
  color: black;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  transition: all 0.7s ease-in-out;
  border-radius: 8px;
  height: 40px;
  text-transform: uppercase;
}
.product_s .card-body-product_s .btn-chitiet:hover {
  color: white;
  text-transform: uppercase;
  background-color: rgb(188, 188, 188);
  transition: 0.7s;
}

.product_s img {
  height: 100%;
}

.product_s .swiper-pagination {
  padding-top: 1rem;
  position: relative;
}
.product_s .swiper-pagination .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
}
.row-body-product_s {
  background-color: white;
}

.product_s .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #ff8717;
  color: white;
}

.product_s .card-body-product_s .row-price {
  background-color: #ff8717;
  color: white;
  width: 100%;
  position: relative;
  z-index: 2;
  font-weight: bold;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 0%, 0% 0%);
  height: 3rem;
}
.product_s .link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0;
  background: #f18320;
  display: flex;
  white-space: nowrap;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 0%, 0% 0%);
  transition: all 0.5s;
  width: 9rem;
}
